* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  user-select: none;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.brand-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.inputchat {
  position: fixed;
  left: 5%;
  /* Adjust as needed */
  bottom: 3vh;
  /* Adjust as needed */
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  width: 80%;
  /* Adjust as needed */
  padding-top: 2px;
  padding-bottom: 2px;
}


.submitchatbtn {
  color: black;
  position: fixed;
  left: 86%;
  /* Adjust as needed */
  bottom: 3vh;
  /* Adjust as needed */
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

#chat {
  resize: none;
  width: 98%;
  border: none;
  /* You can specify an absolute height instead of a percentage */
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
}

#chat:focus {
  outline: none;
}

.txtP {
  user-select: none;
  margin-left: 1%
}